.blogs {
  margin-bottom: 4rem;
  font-family: Plus Jakarta Display;
}

.blogs .text h1 {
  font-weight: 700;
  font-size: 36px;
  margin: 0;
}

.blogs .text p {
  font-weight: 500;
  font-size: 24px;
  color: #b3b3b3;
  margin: 0 0 3rem;
}

.blogs .blog-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  width: 80%;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
}

.blogs .blog-card {
  cursor: pointer;
}

.blogs .blog-card .img {
  overflow: hidden;
}

.blogs .blog-card .img img {
  width: 336px;
  height: 222px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blogs .blog-card .content {
  text-align: left;
}

.blogs .blog-card .content h1 {
  font-weight: 500;
  font-size: 16px;
}

.blogs .blog-card .content p {
  font-weight: 300;
  font-size: 15px;
  color: #9d9d9d;
}

.blogs .blog-card .user {
  display: flex;
  align-items: center;
}

.blogs .blog-card .user img {
  width: 50px;
}

.blogs .blog-card .user .user-info h2 {
  font-size: 9px;
  font-weight: 500;
  margin: 0 10px;
}

.blogs .blog-card .user .user-info p {
  margin: 0 10px;
  font-size: 9px;
  font-weight: 500;
  color: #8d8d8d;
}

.blogs .view-more h3 {
  margin: 3rem 0 0;
  cursor: pointer;
}

.blogs .view-more i {
  cursor: pointer;
}
