.destination {
  position: absolute;
  top: 7em;
  left: 20px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
}

.destination-wrapper {
  width: 85%;
  margin: auto;
  padding: 1rem 2.5rem;
}

.destination-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

.destination-heading {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
